<div class="container">
    <div>
        <h1>Talk</h1>

        <h4>Title</h4>
        <p>The short title of your talk.</p>
        <input type="text" class="form-control" placeholder="Title">
        
        <h4>Summary</h4>
        <p>The short summary of your talk.</p>
        <textarea class="form-control" rows="3"></textarea>

        <h4>Full description</h4>
        <p>The full description of your talk.</p>
        <textarea class="form-control" rows="5"></textarea>
    </div>

    <div>
        <h1>Your audience</h1>

        <h4>Expected audience and code level</h4>
        <p>Who should attend this session?</p>
        <textarea class="form-control" rows="3"></textarea>

        <h4>Expected knowledge level</h4>
        <p>What should listeners know before your talk?</p>
        <div>
            <div class="radio">
                <label>
                    <input type="radio" name="knowledgeLevel" id="" value="option1" checked />
                    <strong>Introductory</strong><br /> <!-- FIX THIS BR -->
                    <span>No prior knowledge needed.</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="knowledgeLevel" id="" value="option2">
                    <strong>Intermediate</strong><br /> <!-- FIX THIS BR -->
                    <span>Some knowledge on the subject.</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="knowledgeLevel" id="" value="option3">
                    <strong>Advanced</strong><br /> <!-- FIX THIS BR -->
                    <span>A good amount of exerience on the subject.</span>
                </label>
            </div>
        </div>
    </div>

    <div>
        <h1>Metadata</h1>

        <h4>Presentation format</h4>
        <p>The format of your presentaton.</p>

        <div>
            <div class="radio">
                <label>
                    <input type="radio" name="presentationFormat" id="" value="option1" checked>
                    <strong>Presentation / Talk</strong><br /> <!-- FIX THIS BR -->
                    <span>Regular presentation.</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="presentationFormat" id="" value="option2">
                    <strong>Lightning Talk</strong><br /> <!-- FIX THIS BR -->
                    <span>Quick talk on a subject. About 10 minutes.</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="presentationFormat" id="" value="option3">
                    <strong>Workshop</strong><br /> <!-- FIX THIS BR -->
                    <span>Multiple hours and interactive.</span>
                </label>
            </div>
        </div>

        <h4>Category</h4>
        <p>The category your talk will fit into.</p>
        <div>
            <div class="radio">
                <label>
                    <input type="radio" name="talkCategory" id="" value="option1" checked>
                    <strong>iOS</strong><br /> <!-- FIX THIS BR -->
                    <span>Everything about iOS native mobile, pad and watch.</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="talkCategory" id="" value="option2">
                    <strong>Android</strong><br /> <!-- FIX THIS BR -->
                    <span>Everything about Android native mobile, tablet and gear.</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="talkCategory" id="" value="option3">
                    <strong>Web / Hybrid</strong><br /> <!-- FIX THIS BR -->
                    <span>Mobilebased web pages and hybrid web appliactions.</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="talkCategory" id="" value="option4">
                    <strong>Other</strong><br /> <!-- FIX THIS BR -->
                    <span>Other stuff related to mobile.</span>
                </label>
            </div>
        </div>
    </div>

    <div>
        <h1>Information to the committee</h1>

        <h4>Agenda (Not public)</h4>
        <p>The agenda of your talk with a rough estimate on each section.</p>
        <textarea class="form-control" rows="5"></textarea>

        <h4>Equipment (Not public)</h4>
        <p>Any special equipment needed for the talk. You will get access to projector, microphone, computer table...</p>
        <textarea class="form-control" rows="3"></textarea>
    </div>

    <div>
        <h1>Speaker</h1>

        <h4>Full Name</h4>
        <p>The name that will be shown.</p>
        <input type="text" class="form-control" placeholder="Full Name">

        <h4>E-mail (Not public)</h4>
        <p>Your email that we can reach you on.</p>
        <input type="text" class="form-control" placeholder="E-mail">

        <h4>Speaker Description</h4>
        <p>A short description of you, your interests and experience.</p>
        <textarea class="form-control" rows="5"></textarea>

        <h4>Picture</h4>
        <input type="file" />
    </div>

    <div>
        <input class="btn btn-default form-control" type="button" value="Submit">
        <div>
            If you have any problem submitting your presentation, please <a href="mailto:contact@mobileera.rocks?Subject=Register%20problems" target="_top">send us a mail</a>.
        </div>
    </div>
</div>